@page "/"

<h1>Welcome to Brainspark Rental Listings</h1>

<div class="button-container">
    <a href="/olx-listings" class="btn btn-primary btn-lg">OLX Listings</a>
    <a href="/facebook-listings" class="btn btn-secondary btn-lg">Facebook Listings</a>
</div>

<style>
    .button-container {
        margin-top: 20px;
    }
    .btn-lg {
        padding: 20px 40px;
        font-size: 24px;
    }
</style>
